:root {
  --color-p-text: #757575;
  --color-h-text: #212121;
  --color-link: #2196F3;
  --color-sect-bg: #2F303A;
  --color-bg: #FFFFFF;
  --font-size-logo: 26px;
  --font-family: "Roboto", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: auto;
}

.body__home {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif, 'Raleway', sans-serif;
}

.body-portfolio {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif, 'Raleway', sans-serif;
}

/* for all LI*/
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header__bg {
  background-color: var(--color-bg);
  border-bottom: 1px solid #f5f4fa;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header__menu {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .header__menu-nav {
    display: none;
  }
}

.web-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--color-link);
}

.studio-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}

.web-logo {
  margin-right: -4px;
  display: inline-block;
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: #ffffff;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.btn-mobile-menu__icon-open {
  width: 40px;
  height: 40px;
}

.btn-mobile-menu__icon-open:focus, .btn-mobile-menu__icon-open:hover {
  fill: var(--color-link);
}

.btn-mobile-menu__open {
  border: none;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .btn-mobile-menu__open {
    display: none;
  }
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .header-nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-nav__item {
  position: relative;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header-nav__item:last-child {
    margin-right: 83px;
  }
}

.header-nav__link {
  display: block;
  color: #212121;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.header-nav__link:hover, .header-nav__link:focus {
  color: var(--color-link);
}

.header-nav__link.current {
  color: var(--color-link);
}

@media screen and (min-width: 768px) {
  .header-nav__link.current::after {
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--color-link);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
    display: block;
    position: absolute;
    bottom: -1px;
  }
}

.mobile-menu__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-menu__contact-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 64px;
}

.mobile-menu__contact-item-tel {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.mobile-menu__contact-link-tel {
  color: var(--color-link);
}

@media screen and (max-width: 479px) {
  .mobile-menu__contact-link-tel {
    font-size: 8vw;
  }
}

.mobile-menu__contact-item-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__contact-link-mail {
  color: #757575;
}

.mobile-menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu__social-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  padding-right: 10px;
}

.mobile-menu__social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__social-item:not(:first-child) {
  padding-left: 10px;
}

@media screen and (max-width: 479px) {
  .mobile-menu__social-item {
    font-size: 4vw;
  }
}

.mobile-menu__social-link {
  color: var(--color-link);
}

.mobile-menu__social-link:hover, .mobile-menu__social-link:focus {
  color: #757575;
}

.btn-mobile-menu__closed {
  position: absolute;
  border: 0px;
  padding: 0;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  line-height: 0px;
  background-color: transparent;
  fill: black;
}

.btn-mobile-menu__closed:hover, .btn-mobile-menu__closed:focus {
  fill: var(--color-link);
}

.menu__nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 93px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu__nav-text {
  position: relative;
}

.menu__nav-text:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .menu__nav-text:last-child {
    margin-right: 83px;
  }
}

.menu__nav-text:last-child {
  margin-right: 0px;
}

@media screen and (min-width: 768px) {
  .menu__addres-text:not(:last-child):not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__addres-text:not(:last-child) {
    margin-right: 30px;
  }
}

.menu__nav-link {
  display: block;
  color: var(--color-h-text);
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .menu__nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.menu__nav-link:hover, .menu__nav-link:focus {
  color: var(--color-link);
}

.menu__nav-link-f {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-link);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .menu__nav-link-f {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.position__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu__nav-link-f::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-link);
}

.menu__addres-link {
  color: var(--color-p-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .menu__addres-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.menu__addres-link:hover, .menu__addres-link:focus {
  color: var(--color-link);
}

.address__link-icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  fill: currentColor;
}

.menu__addres {
  margin-left: auto;
  display: none;
}

@media screen and (min-width: 768px) {
  .menu__addres {
    display: inline;
  }
}

@media screen and (min-width: 1200px) {
  .menu__addres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.sec__bg {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  max-width: 768px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .sec__bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .sec__bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1200px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .sec__bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .sec__bg {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/desktop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .sec__bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/desktop@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop@2x.jpg");
  }
}

.effect-design {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  color: var(--primary-title-color);
}

@media screen and (min-width: 480px), (min-width: 768px) {
  .effect-design {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .effect-design {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
  }
}

.effect-design__container {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.button-service {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  background-color: #188ce8;
  color: var(--color-bg);
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  border: none;
}

@media screen and (max-width: 479px) {
  .button-service {
    top: 4px;
    right: 4px;
  }
}

.button-service:hover, .button-service:focus {
  color: var(--color-bg);
  background-color: #0f9bec;
}

.modal-btn {
  padding: 6px 22px;
  border-radius: 4px;
  min-width: 73px;
  min-height: 38px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
  border-radius: 8px;
}

.close-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.close-btn:hover, .close-btn:focus {
  fill: var(--color-link);
}

.base-btn {
  background-color: #188ce8;
  color: var(--color-text);
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  border: 0;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 10px 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.base-btn:hover, .base-btn:focus {
  cursor: pointer;
  color: #FFFFFF;
  background-color: var(--color-link);
}

@media screen and (max-width: 479px) {
  .base-btn {
    top: 4px;
    right: 4px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.backdrop {
  z-index: 1;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__close-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__close-btn:focus, .modal__close-btn:hover {
  fill: var(--color-link);
}

@media screen and (max-width: 320px) {
  .modal__close-btn {
    top: 34px;
    right: 4px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  -webkit-transition: 250ms;
  transition: 250ms;
  border-radius: 4px;
  padding: 40px;
}

@media screen and (max-width: 479px) {
  .modal {
    min-width: 320px;
    min-height: 568px;
  }
}

@media screen and (min-width: 481px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
    padding: 20px;
  }
}

@media screen and (min-width: 769px) {
  .modal {
    max-width: 450px;
    max-height: 609px;
  }
}

@media screen and (min-width: 1201px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__input__label-text {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 12px;
  color: var(--color-h-text);
  color: var(--color-h-text);
}

@media screen and (max-width: 479px) {
  .modal__input__label-text {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__input__label-text {
    line-height: 1.15;
  }
}

.email-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.modal__box-input label:hover {
  cursor: pointer;
}

.modal__box-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.email-form .modal__box-input {
  margin-right: 12px;
  margin-left: 93px;
}

.modal__box-menu .input__label-plase,
.modal__box-menu .modal__box-input {
  position: relative;
}

.modal__box-menu .modal__box-input:not(:last-child) {
  margin-bottom: 10px;
}

.modal__box-menu .modal__box-input.user-aggrement {
  margin-bottom: 30px;
}

.input__label-plase input {
  width: 100%;
}

.user-aggrement.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.input__label-icon.checkbox-icon {
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 2px solid var(--color-h-text);
  border-radius: 2px;
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .input__label-icon.checkbox-icon {
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (max-width: 320px) {
  .input__label-icon.checkbox-icon {
    font-size: 14px;
    line-height: 1.71;
  }
}

.user-aggrement.checkbox + .checkbox-icon .icon-svg {
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-aggrement.checkbox:checked + .input__label-icon.checkbox-icon {
  border: 2px solid var(--color-link);
}

.user-aggrement.checkbox:checked + .checkbox-icon .icon-svg {
  width: 16px;
  height: 16px;
  opacity: 1;
  fill: var(--color-h-text);
  background-color: var(--color-link);
}

.modal__box-input {
  margin-bottom: 20px;
  --footer-font-size: calc( 16px * 0.875);
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--footer-font-size);
  line-height: 16px;
}

.input-text {
  background: transparent;
  border-radius: 4px;
  -webkit-transition: border cubic-bezier(0.4, 0, 0.2, 1);
  transition: border cubic-bezier(0.4, 0, 0.2, 1);
}

.confirm-text {
  color: var(--color-h-text);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .confirm-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (max-width: 320px) {
  .confirm-text {
    font-size: 14px;
    line-height: 1.71;
    margin-left: 10px;
  }
}

@media screen and (max-width: 479px) {
  .confirm-text {
    font-size: 14px;
    line-height: 1.71;
    margin-left: 10px;
  }
}

.input-text:focus,
.input-text:focus-within {
  border: 1px solid var(--color-link);
  outline: 1px solid var(--color-link);
}

.modal__box-menu .input-text {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  background: #FFFFFF;
  font-size: 14px;
  line-height: 16px;
}

.modal__box-menu input.input-text {
  padding-left: calc(12px + 18px + 12px);
}

.input__label-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.user-icon {
  width: 18px;
  height: 18px;
}

.phone-icon {
  width: 18px;
  height: 18px;
}

.envelope-icon {
  width: 18px;
  height: 18px;
}

.modal__box-input.user-aggrement {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input__label.checkbox {
  margin-bottom: 0;
  margin-left: 24px;
  text-transform: none;
  font-style: normal;
  font-weight: normal;
  line-height: calc(16px * 1.5);
  letter-spacing: calc(16px * 0.875 * 0.03);
}

.input-text:focus-within {
  outline: transparent;
  border-color: var(--color-link);
}

.input-text:focus-within + .input__label-icon .icon-svg {
  fill: var(--color-link);
}

.modal__box-menu .input-text::-webkit-input-placeholder {
  --input-text-font-size: calc(16px * 0.75);
  font-size: var(--input-text-font-size);
  line-height: calc(16px * 0.875);
  letter-spacing: calc(var(--input-text-font-size) * 0.03);
  color: rgba(117, 117, 117, 0.5);
}

.modal__box-menu .input-text:-ms-input-placeholder {
  --input-text-font-size: calc(16px * 0.75);
  font-size: var(--input-text-font-size);
  line-height: calc(16px * 0.875);
  letter-spacing: calc(var(--input-text-font-size) * 0.03);
  color: rgba(117, 117, 117, 0.5);
}

.modal__box-menu .input-text::-ms-input-placeholder {
  --input-text-font-size: calc(16px * 0.75);
  font-size: var(--input-text-font-size);
  line-height: calc(16px * 0.875);
  letter-spacing: calc(var(--input-text-font-size) * 0.03);
  color: rgba(117, 117, 117, 0.5);
}

.modal__box-menu .input-text::placeholder {
  --input-text-font-size: calc(16px * 0.75);
  font-size: var(--input-text-font-size);
  line-height: calc(16px * 0.875);
  letter-spacing: calc(var(--input-text-font-size) * 0.03);
  color: rgba(117, 117, 117, 0.5);
}

.modal__box-menu .btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.input-text.email {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 16px;
  color: #f5f4fa;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.input-text::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: calc(16px * 0.03);
  color: rgba(255, 255, 255, 0.6);
}

.input-text:-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: calc(16px * 0.03);
  color: rgba(255, 255, 255, 0.6);
}

.input-text::-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: calc(16px * 0.03);
  color: rgba(255, 255, 255, 0.6);
}

.input-text::placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: calc(16px * 0.03);
  color: rgba(255, 255, 255, 0.6);
}

.input-text.email:not(:placeholder-shown) {
  border: 1px solid var(--color-link);
}

.input__label.input__label-text {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  text-transform: capitalize;
}

.input__label.light {
  color: #f5f4fa;
}

.email-form .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-send {
  fill: #FFFFFF;
  width: 24px;
  height: 24px;
}

.submit-text + .icon-send {
  margin-left: 10px;
}

.label-link {
  color: var(--color-link);
}

.modal__box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: #FFFFFF;
  -webkit-transition: 250ms;
  transition: 250ms;
  border-radius: 4px;
  padding: 40px;
}

@media screen and (max-width: 480px) {
  .modal__box {
    min-width: 320px;
    min-height: 568px;
  }
}

@media screen and (min-width: 480px) {
  .modal__box {
    min-width: 450px;
    min-height: 609px;
    padding: 20px;
  }
}

@media screen and (min-width: 769px) {
  .modal__box {
    max-width: 450px;
    max-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__box {
    min-width: 528px;
    min-height: 581px;
  }
}

.menu-list {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .menu-list {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (0fr)[2];
        grid-template-columns: repeat(2, 0fr);
  }
}

@media screen and (min-width: 1200px) {
  .details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (0fr)[4];
        grid-template-columns: repeat(4, 0fr);
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .menu__list-details {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .menu__list-details {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__list-details {
    width: 270px;
  }
}

.menu__list-details::before {
  content: "";
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.menu__list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .menu__list-title {
    text-align: center;
  }
}

.menu__list-description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.icon-antenna.menu__list-details::before {
  content: "";
  background-image: url(../images/antenna.svg);
}

.icon-clock.menu__list-details::before {
  content: "";
  background-image: url(../images/clock.svg);
}

.icon-diagram.menu__list-details::before {
  content: "";
  background-image: url(../images/diagram.svg);
}

.icon-astronaut.menu__list-details::before {
  content: "";
  background-image: url(../images/astronaut.svg);
}

.work__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__list {
  padding-top: 0px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1200px) {
  .work__list {
    display: none;
  }
}

.work__list-img {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.work__list h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--color-h-text);
  text-align: center;
  margin-bottom: 50px;
}

.work__list-item {
  position: relative;
}

.work__list-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__list-text {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--alt-text-color);
}

.team h2 {
  color: var(--color-h-text);
  margin-bottom: 30px;
  text-align: center;
}

@media sreen and (min-width: 480px) and (max-width: 1200px) {
  .team h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

@media screen and (min-width: 1200px) {
  .team h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.team {
  background-color: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__list p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--color-p-text);
  text-align: center;
  margin-top: 10px;
}

.team__list h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--color-h-text);
  text-align: center;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

.team__list-detail {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border: 0px;
}

@media screen and (max-width: 768px) {
  .team__list-detail:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__list-name {
  padding: 30px;
  height: 162px;
  background-color: #ffffff;
}

.team__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.social__icon-list:not(:last-child) {
  margin-right: 10px;
}

.social__icon-list {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background, fill;
  transition-property: background, fill;
}

.social__icon-list:hover, .social__icon-list:focus {
  background-color: var(--color-link);
  fill: #FFFFFF;
}

.social__icon-list:hover .social__icon-svg,
.social__icon-list:focus .social__icon-svg {
  fill: #FFFFFF;
}

.social__icon-svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.social__icon-svg:hover, .social__icon-svg:focus {
  fill: #FFFFFF;
}

.icon-links {
  background-color: #FFFFFF;
}

.partners {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .partners {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__text {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .client__text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.partners__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (0fr)[2];
      grid-template-columns: repeat(2, 0fr);
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .partners__list {
    -ms-grid-columns: (0fr)[3];
        grid-template-columns: repeat(3, 0fr);
  }
}

@media screen and (min-width: 1200px) {
  .partners__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.partners__list-item {
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 480px) {
  .partners__list-item {
    width: 40vw;
  }
}

.partners__list-item:hover, .partners__list-item:focus {
  border: 1px solid var(--color-link);
}

.partners__list-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners__list-link:hover .clients__icon,
.partners__list-link:focus .clients__icon {
  fill: var(--color-link);
}

.partners__list-icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__list-link:hover .partners__list-icon,
.partners__list-link:focus .partners__list-icon {
  fill: var(--color-link);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-left__logo-link {
  font-weight: 700;
  font-family: 'Raleway';
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-left__logo-link {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}

.footer-left__logo-color {
  color: var(--color-link);
}

.footer-adress__text {
  color: #ffffff;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-adress {
  font-style: normal;
}

.footer-adress__contact-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress__contact-link:hover, .footer-adress__contact-link:focus {
  color: #ffffff;
}

.footer-adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    width: 768px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-left {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-left {
    margin-right: 70px;
    width: 231px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-left {
    margin-right: 70px;
    width: 231px;
  }
}

.footer-right {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-right {
    margin-right: 93px;
  }
}

.footer-right__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-right__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-right__item {
  width: 44px;
  height: 44px;
}

.footer-right__item:not(:last-child) {
  margin-right: 10px;
}

.footer-right__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-right__link:hover, .footer-right__link:focus {
  background-color: var(--color-link);
}

.footer-right__icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form_subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-form__text {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.form_subscribe__input {
  margin-right: 10px;
  display: inline-block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  padding: 15px 15px 15px 15px;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form_subscribe__input {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .form_subscribe__input {
    width: 358px;
  }
}

.form_subscribe__btn {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  height: 50px;
  border-radius: 4px;
  background-color: var(--color-link);
  border: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 28px 10px 28px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_subscribe__btn:hover, .form_subscribe__btn:focus {
  background-color: #188ce8;
}

.form_subscribe__icon {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list {
  margin-top: 9px;
}

.cccc + .form_subscribe__icon {
  margin-left: 10px;
}

.portfolio-sec {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio-sec {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .portfolio__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__btns {
    margin-bottom: 34px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio__btns-list:not(:last-child) {
  margin-right: 8px;
}

.portf-btn {
  cursor: pointer;
  background-color: #F5F4FA;
  color: var(--color-h-text);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-btn:hover, .portf-btn:focus {
  color: var(--color-bg);
  background-color: var(--color-link);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .portf-btn {
    margin-bottom: 15px;
  }
}

.portf-btn-f {
  cursor: pointer;
  color: var(--color-bg);
  background-color: var(--color-link);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .portf-btn-f {
    margin-bottom: 15px;
  }
}

.portfolio__menu-link:focus,
.portfolio__menu-link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  display: block;
}

.portfolio__menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio-bg {
  background-color: #FFFFFF;
}

.portfolio-menu-text h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-h-text);
  margin-bottom: 4px;
  margin-top: 4px;
}

.portfolio-menu-text p {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--color-p-text);
}

.visually-hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

@media screen and (min-width: 320px) {
  .portfolio__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.portfolio__menu-list {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__menu-list:hover, .portfolio__menu-list:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-menu-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
}

.portfolio__modal-link {
  position: relative;
  overflow: hidden;
}

.portfolio__modal-block {
  position: absolute;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__modal-text {
  position: absolute;
  top: 63px;
  left: 24px;
  right: 24px;
  bottom: 63px;
  overflow: hidden;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: #ffff;
}

@media screen and (max-width: 479px) {
  .portfolio__modal-text {
    font-size: 15px;
    top: 24px;
    right: 24px;
    left: 24px;
    bottom: 24px;
  }
}

.portfolio__menu-link:hover .portfolio__modal-block,
.portfolio__menu-list:focus .portfolio__modal-block {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__menu-list {
  display: block;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */