.social__icon-list:not(:last-child) {
    margin-right: 10px;
}


.social__icon-list {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background, fill;
    &:hover,
    &:focus{
        background-color: var(--color-link);
        fill: #FFFFFF;
    }
}



.social__icon-list:hover .social__icon-svg,
.social__icon-list:focus .social__icon-svg {
    fill: #FFFFFF;
}

.social__icon-svg {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    &:hover,
    &:focus {
    fill: #FFFFFF;
}
}

.icon-links {
    background-color: #FFFFFF;
}