:root {
    --color-p-text: #757575;
    --color-h-text: #212121;
    --color-link: #2196F3;
    --color-sect-bg: #2F303A;
    --color-bg: #FFFFFF;
    --font-size-logo: 26px;
    --font-family: "Roboto", sans-serif;
}